<header class="site-header">
  <div class="wrapper">
    <div>
      <h1 class="site-title">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      {% if page.description %}
        <p class="site-type">{{ page.description }}</p>
      {% elsif site.description %}
        <p class="site-type">{{ site.description }}</p>
      {% endif %}
    </div>
    <button class="dark-mode-toggle" id="dark-mode-toggle" aria-label="Toggle dark mode">&#9790;</button>
  </div>
</header>
