<div class="playground" data-playground="{{ include.id }}">
  <div class="playground-tabs">
    <button class="playground-tab is-active" data-panel="html">HTML</button>
    <button class="playground-tab" data-panel="css">CSS</button>
    <button class="playground-tab" data-panel="js">JS</button>
    <button type="button" class="playground-btn-codepen">Open in CodePen</button>
  </div>
  <div class="playground-panes">
    <div class="playground-editor">
      <textarea class="playground-textarea html" data-lang="html" rows="10" spellcheck="false">{{ include.initial_html | escape }}</textarea>
      <textarea class="playground-textarea css" data-lang="css" rows="10" spellcheck="false" style="display:none">{{ include.initial_css | escape }}</textarea>
      <textarea class="playground-textarea js" data-lang="js" rows="10" spellcheck="false" style="display:none">{{ include.initial_js | escape }}</textarea>
    </div>
    <div class="playground-preview">
      <iframe class="playground-iframe" sandbox="allow-scripts allow-modals" title="Live preview"></iframe>
    </div>
  </div>
</div>
